<!DOCTYPE html>
<html>
  <head>
    <title>Standy</title>
    <link rel='stylesheet' href='styles/standby.css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='scripts/standby.js'></script>
  </head>
  <body>
    <div id='page-wrap'>
      <div id='icon-section'>
          <div id='logo' class='left-stack'></div>
          <div id='hn' class='left-stack third-party'></div>
          <div id='ph' class='left-stack third-party'></div>
          <div id='reddit' class='left-stack third-party'></div>
          <div id='medium' class='left-stack third-party'></div>
      </div>
      <div id='link-section'>
        <h1>Hacker News</h1>
        <% hackernewsPosts.forEach(function(post, i) { %>
          <div>
            <a class='cache' data-id='hackernews-link-<%= i %>' href='<%= post.url %>'><%= post.title %></a> - <a class='cache' data-id='hackernews-link-<%= i %>' href='https://news.ycombinator.com/item?id=<%= post.id %>'>Comments</a>
            <iframe class='content' id='hackernews-link-<%= i %>'></iframe>
            <iframe class='content' id='hackernews-comments-<%= i %>'></iframe>
          </div>
        <% }); %>

        <h1>Product Hunt</h1>
        <% productHuntPosts.forEach(function(post, i) { %>
          <div>
            <a class='cache' data-id='product-hunt-link-<%= i %>' href='<%= post.url %>'><%= post.title %></a> - <a class='cache' data-id='product-hunt-comments-<%= i %>' href='http://producthunt.com<%= post.permalink %>'>Comments</a>
            <iframe class='content' id='product-hunt-link-<%= i %>'></iframe>
            <iframe class='content' id='product-hunt-comments-<%= i %>'></iframe>
          </div>
        <% }); %>

        <h1>Reddit</h1>
        <% redditPosts.forEach(function(post, i) { %>
          <div>
            <a class='cache' data-id='reddit-link-<%= i %>' href='<%= post.url %>'><%= post.title %></a> - <a class='cache' data-id='reddit-comments-<%= i %>' href='http://reddit.com<%= post.permalink %>'>Comments</a>
            <iframe class='content' id='reddit-link-<%= i %>'></iframe>
            <iframe class='content' id='reddit-comments-<%= i %>'></iframe>
          </div>
        <% }); %>
      </div>
    </div>

    <div id='footer'>
        <span>Built With Love at Greylock Hackfest 2014</span>
    </div>

    <div id='overlay'></div>
  </body>
</html>
