<!DOCTYPE html>
<html>
  <head>
    <title>Standby</title>
    <link rel='stylesheet' href='styles/bootstrap.min.css'>
    <link rel='stylesheet' href='styles/standby.css'>
    <link rel="icon" type="image/png" href='images/favicon.png'>

    <script src='scripts/jquery.js'></script>
    <script src='scripts/bootstrap.min.js'></script>

    <link rel='stylesheet' href='styles/nprogress.css'/>
    <script src="scripts/nprogress.js"></script>
    <script src='scripts/standby.js'></script>

    <meta name="google-site-verification" content="8HO60LsBg20XFOIm1xW6A_mKrii7lPWOaKzYxpmgLGY" />
  </head>
  <body>

    <div class='container pt-perspective' id='pt-main'>
      <div id='page-wrap'>
        <section id='icons-section'>
          <ul id='icons'>
            <li data-section='hn-section'><img src='/images/YC_on.png'></li>
            <li data-section='reddit-section'><img src='/images/Reddit_on.png'></li>
            <li data-section='medium-section'><img src='/images/Medium_on.png'></li>
            <li class='add-section'><img src='/images/Plus.png'></li>
            <li data-section='blurb-section' class='selected logo'><img src='/images/Logo.png'></li>
          </ul>
        </section>
      </div>


  <wrapper>
    <h1>Browse without Wifi.</h1>
    <h2>We're loading your favorite sites<br>
      so you can bring them all over the world. </h2>

 <!--     <div class='icons-front'>

      <div class='icons-front'>
        <img src='/images/HN.png'>
        <img src='/images/Reddit.png'>
        <img src='/images/Medium.png'>
        <img src='/images/Product.png'>

     </div>
     -->

     
        <div class='pace'><span id="percentage"></span>
        </div>
  </wrapper>

 
<!-- AddThis Button BEGIN 
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-513375c7395449c1"></script>


<a class="addthis_button_tweet" tw:text="I can now browse Reddit, Hacker News and Product Hunt without wifi thanks to @getstandby!"></a> -->

<a href="https://twitter.com/share" class="twitter-share-button" data-text="You can now browse Reddit, Hacker News and Product Hunt without Wi-Fi thanks to @getstandby!">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="https://standby.io/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>













      
      <div id="content-section-wrap">
        

        <div id='hn-section' class='content-section'>
          <% hackernewsPosts.forEach(function(post, i) { %>
            <div>
              <div class='section-link'>
                <div class='upvotes'>
                  <div class='arrow' id='arrow-hackernews-link-<%= i %>'></div>
                  <div><%= post.points %></div>
                </div>
                <div class='post-data'>
                  <a class='cache site-link' data-id='hackernews-link-<%= i %>' href='<%= post.url %>'><%= post.title %></a>
                  <span class='website'>(<%= post.url.replace('http://','').replace('https://','').split(/[/?#]/)[0] %>)</span>
                  <a class='cache comments' data-id='hackernews-comments-<%= i %>' href='https://news.ycombinator.com/item?id=<%= post.id %>'><%= post.commentCount %> comments</a>
                </div>
              </div>
              <iframe sandbox="allow-same-origin allow scripts" class='content' id='hackernews-link-<%= i %>'></iframe>
              <iframe sandbox="allow-same-origin allow-scripts" class='content' id='hackernews-comments-<%= i %>'></iframe>
            </div>
          <% }); %>
        </div>

        <div id='reddit-section' class='content-section'>
          <% redditPosts.forEach(function(post, i) { %>
            <div>
              <div class='section-link'>
                <div class='upvotes'>
                  <div class='arrow' id='arrow-reddit-link-<%= i %>'></div>
                  <div><%= post.score %></div>
                </div>
                <div class='post-data'>
                  <a class='cache site-link' data-id='reddit-link-<%= i %>' href='<%= post.url %>'><%= post.title %></a>
                  <span class='website'>(<%= post.url.replace('http://','').replace('https://','').split(/[/?#]/)[0] %>)</span>
                  <a class='cache comments' data-id='reddit-comments-<%= i %>' href='http://reddit.com<%= post.permalink %>'><%= post.num_comments %> comments
                  </a>
                </div>
              </div>
              <iframe sandbox="allow-same-origin allow scripts" class='content' id='reddit-link-<%= i %>'></iframe>
              <iframe sandbox="allow-same-origin allow-scripts" class='content' id='reddit-comments-<%= i %>'></iframe>
            </div>
          <% }); %>
        </div>
        <div id='medium-section' class='content-section'>
          <% mediumPosts.forEach(function(post, i) { %>
            <div>
              <div class='section-link'>
                <a class='cache site-link' data-id='medium-link-<%= i %>' href='<%= post.url %>'><%= post.title %></a>
              </div>
              <iframe class='content' id='medium-link-<%= i %>'></iframe>
            </div>
          <% }); %>
        </div>
      </div>

      
    </div>

    <div class='footer'>
      <div id="footer-text">
      <span >Built with caffeine at GreylockU Hackfest 2014 by <a href="https://github.com/awiss">Alex</a>, <a href="http://yef.im/">Geoff</a>, <a href="http://connolly.io">Ian</a> &amp; <a href="https://twitter.com/kathleen_warner">Kathleen</a></span>
      </div>
    </div>

    <img id="x" src="/images/exit-button.png">

    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add to Stand By</h4>
          </div>
          <div class="modal-body">
            <div class='modal-producthunt'>
              <img class='modal-images' src='/images/Product_on.png'>
              <span>Product Hunt</span>
            </div>
            <hr>
            <div class='modal-reddit'>
              <img class='modal-images'src='/images/Reddit_on.png'>
              <input type='text' class='input-lg' id='modal-subreddit' placeholder='pics'>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
