<!DOCTYPE html>
<html>
  <head>
    <title>Standby</title>
    <link rel='stylesheet' href='styles/standby.css'>
    <link rel='stylesheet' href='styles/bootstrap.min.css'>

    <!-- <link rel="stylesheet" type="text/css" href="styles/default.css" /> -->
		<!-- <link rel="stylesheet" type="text/css" href="styles/multilevelmenu.css" /> -->
		<!-- <link rel="stylesheet" type="text/css" href="styles/component.css" /> -->
		<!-- <link rel="stylesheet" type="text/css" href="styles/animations.css" /> -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- <script src='scripts/modernizr.custom.js'></script> -->
    <!-- <script src='scripts/jquery.dlmenu.js'></script> -->
    <!-- <script src='scripts/pagetransitions.js'></script> -->
    <script src='scripts/nprogress.js'></script>
    <link rel='stylesheet' href='styles/nprogress.css'/>
    <script src='scripts/standby.js'></script>
  </head>
  <body>
    <div class='container pt-perspective' id='pt-main'>
      <div id='page-wrap'>
        <section id='icons-section'>
          <ul id='icons'>
            <li data-section='hn-section'><img src='/images/YC_on.png'></li>
            <li data-section='reddit-section'><img src='/images/Reddit_on.png'></li>
            <li data-section='medium-section'><img src='/images/Medium_on.png'></li>
            <li class='add-section'><img src='/images/Plus.png'></li>
            <li data-section='blurb-section' class='selected logo'><img src='/images/Logo.png'></li>
          </ul>
        </section>
      </div>
      <div id="content-section-wrap">
        <div id='blurb-section' class='content-section active-section'>
          <div id='blurb-head'>
            <h2>
              Stand By
            </h2>
            <h4>
              Browse Your Favorite Content Without Wi-Fi
            </h4>
          </div>
          <div id='blurb-content'>
            <p>
              Getting on the Caltrain or a plane without Wi-Fi soon? Stuck for something to read? Let us help.
            </p>
            <p>
              Stand By pre-fetches the best content from Hacker News, Reddit, Medium, and more - and our seamless browsing experience will make you forget you're actually offline.
            </p>
            <p>
              We've already pre-fetched Hacker News, r/all, and some of the best of Medium. Turn off your Wi-Fi and see!
            </p>
          </div>
        </div>
        <div id='hn-section' class='content-section'>
          <% hackernewsPosts.forEach(function(post, i) { %>
            <div>
              <div class='section-link'>
                <div class='upvotes'>
                  <div class='arrow' id='arrow-hackernews-link-<%= i %>'></div>
                  <div><%= post.points %></div>
                </div>
                <div class='post-data'>
                  <a class='cache site-link' data-id='hackernews-link-<%= i %>' href='<%= post.url %>'><%= post.title %></a>
                  <span class='website'>(<%= post.url.replace('http://','').replace('https://','').split(/[/?#]/)[0] %>)</span>
                  <a class='cache comments' data-id='hackernews-comments-<%= i %>' href='https://news.ycombinator.com/item?id=<%= post.id %>'><%= post.commentCount %> comments</a>
                </div>
              </div>
              <iframe sandbox="allow-same-origin" class='content' id='hackernews-link-<%= i %>'></iframe>
              <iframe sandbox="allow-same-origin allow-scripts" class='content' id='hackernews-comments-<%= i %>'></iframe>
            </div>
          <% }); %>
        </div>

        <div id='reddit-section' class='content-section'>
          <% redditPosts.forEach(function(post, i) { %>
            <div>
              <div class='section-link'>
                <div class='upvotes'>
                  <div class='arrow' id='arrow-reddit-link-<%= i %>'></div>
                  <div><%= post.score %></div>
                </div>
                <div class='post-data'>
                  <a class='cache site-link' data-id='reddit-link-<%= i %>' href='<%= post.url %>'><%= post.title %></a>
                  <span class='website'>(<%= post.url.replace('http://','').replace('https://','').split(/[/?#]/)[0] %>)</span>
                  <a class='cache comments' data-id='reddit-comments-<%= i %>' href='http://reddit.com<%= post.permalink %>'><%= post.num_comments %> comments
                  </a>
                </div>
              </div>
              <iframe sandbox="allow-same-origin" class='content' id='reddit-link-<%= i %>'></iframe>
              <iframe sandbox="allow-same-origin allow-scripts" class='content' id='reddit-comments-<%= i %>'></iframe>
            </div>
          <% }); %>
        </div>
        <div id='medium-section' class='content-section'>
          <% mediumPosts.forEach(function(post, i) { %>
            <div>
              <div class='section-link'>
                <a class='cache site-link' data-id='medium-link-<%= i %>' href='<%= post.url %>'><%= post.title %></a>
              </div>
              <iframe class='content' id='medium-link-<%= i %>'></iframe>
            </div>
          <% }); %>
        </div>
      </div>

      <div id='footer'>
          <span>Built with caffeine at GreylockU Hackfest 2014 by <a href="https://github.com/awiss">Alex</a>, <a href="http://yef.im/">Geoff</a>, <a href="http://connolly.io">Ian</a> &amp; <a href="https://twitter.com/kathleen_warner">Kathleen</a></span>
      </div>
    </div>
    <img id="x" src="/images/exit-button.png">
    <div id='overlay' class='dark'></div>
    <!-- <img id="loading-spinner" src="/images/loading-spinner.gif"> -->

    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add to Stand By</h4>
          </div>
          <div class="modal-body">
            <div class='modal-producthunt'>
              <img class='modal-images' src='/images/Product_on.png'>
              <span>Product Hunt</span>
            </div>
            <hr>
            <div class='modal-reddit'>
              <img class='modal-images'src='/images/Reddit_on.png'>
              <input type='text' class='input-lg' id='modal-subreddit' placeholder='/r/pics'>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
