<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='styles/standby.css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='scripts/standby.js'></script>
  </head>
  <body>
    <h1>Product Hunt</h1>
    <% productHuntPosts.forEach(function(post, i) { %>
      <div>
        <a class='cache' data-id='product-hunt-link-<%= i %>' href='<%= post.url %>'><%= post.title %></a> - <a class='cache' data-id='product-hunt-comments-<%= i %>' href='http://producthunt.com<%= post.permalink %>'>Comments</a>
        <iframe class='content' id='product-hunt-link-<%= i %>'></iframe>
        <iframe class='content' id='product-hunt-comments-<%= i %>'></iframe>
      </div>
    <% }); %>

    <h1>Reddit</h1>
    <% redditPosts.forEach(function(post, i) { %>
      <div>
        <a class='cache' data-id='reddit-link-<%= i %>' href='<%= post.url %>'><%= post.title %></a> - <a class='cache' data-id='reddit-comments-<%= i %>' href='http://reddit.com<%= post.permalink %>'>Comments</a>
        <iframe class='content' id='reddit-link-<%= i %>'></iframe>
        <iframe class='content' id='reddit-comments-<%= i %>'></iframe>
      </div>
    <% }); %>

    <div id='html'>
    </div>

    <div id='page-wrap'>
      <div id='icon-section'>
          <div id='logo' class='left-stack'></div>
          <div id='hn' class='left-stack third-party'></div>
          <div id='ph' class='left-stack third-party'></div>
          <div id='reddit' class='left-stack third-party'></div>
          <div id='medium' class='left-stack third-party'></div>
      </div>
      <div id='link-section'>
      </div>
    </div>

    <div id='footer'>
        <span>Built With Love at Greylock Hackfest 2014</span>
    </div>

    <script type='text/javascript'>
      $('#link').on('click', function() {
        $('#html').css('display', 'block');
      });
    </script>
  </body>
</html>
